[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/pack/plugins/opt/just-vim"]
	path = vim/pack/plugins/opt/just-vim
	url = git@github.com:vmchale/just-vim.git
[submodule "vim/pack/plugins/opt/vim-pollen"]
	path = vim/pack/plugins/opt/vim-pollen
	url = git@github.com:otherjoel/vim-pollen.git
[submodule "vim/pack/plugins/opt/vim-racket"]
	path = vim/pack/plugins/opt/vim-racket
	url = git@github.com:wlangstroth/vim-racket.git
[submodule "vim/pack/plugins/opt/vim-mustache-handlebars"]
	path = vim/pack/plugins/opt/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule "vim/pack/plugins/start/vim-indentguides"]
	path = vim/pack/plugins/start/vim-indentguides
	url = git@github.com:thaerkh/vim-indentguides.git
