; Alacritty Themes
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
	shallow = true

; Ranger Plugins
[submodule "ranger/plugins/ranger-zoxide"]
	path = ranger/plugins/ranger-zoxide
	url = https://github.com/jchook/ranger-zoxide.git
	shallow = true

; Vim Plugins
[submodule "vim/pack/plugins/start/applescript.vim"]
	path = vim/pack/plugins/start/applescript.vim
	url = https://github.com/vim-scripts/applescript.vim.git
    shallow = true
[submodule "vim/pack/plugins/start/coc.nvim"]
	path = vim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	shallow = true
[submodule "vim/pack/plugins/start/vim-dim"]
	path = vim/pack/plugins/start/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim.git
	shallow = true
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	shallow = true
[submodule "vim/pack/plugins/start/vim-indentguides"]
	path = vim/pack/plugins/opt/vim-indentguides
	url = https://github.com/thaerkh/vim-indentguides.git
	shallow = true
[submodule "vim/pack/plugins/opt/just-vim"]
	path = vim/pack/plugins/start/just-vim
	url = https://github.com/vmchale/just-vim.git
	shallow = true
[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	shallow = true
[submodule "vim/pack/plugins/opt/vim-mustache-handlebars"]
	path = vim/pack/plugins/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
	shallow = true
[submodule "vim/pack/plugins/opt/vim-pollen"]
	path = vim/pack/plugins/start/vim-pollen
	url = https://github.com/otherjoel/vim-pollen.git
	shallow = true
[submodule "vim/pack/plugins/opt/vim-racket"]
	path = vim/pack/plugins/start/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
	shallow = true
[submodule "vim/pack/plugins/start/ranger.vim"]
	path = vim/pack/plugins/start/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim
    shallow = true
[submodule "vim/pack/plugins/start/vim-speeddating"]
	path = vim/pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
	shallow = true
[submodule "vim/pack/plugins/opt/vim-toml"]
	path = vim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
	shallow = true
[submodule "vim/pack/plugins/start/xonsh-vim"]
	path = vim/pack/plugins/start/xonsh-vim
	url = https://github.com/linkinpark342/xonsh-vim
	shallow = true

; Automatically Added
[submodule "alacritty/alacritty-theme"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
