.zcompdump
# Generated automatically by macOS' /etc/zsh_Apple_Terminal.
.zsh_sessions
# Compiled `.zsh` files.
*.zwc

# local config
local/
# zsh completion functions
completions/

# allow hard-linking
zshrc
zprofile

